
.btn {
    border: solid 1px black;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border-radius: 12px;
    transition-timing-function: ease;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.3s;
    padding: unset;
  }
  
  .btn-right {
    border: solid 1px black;
    border-radius: 20px 0px 20px 0px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    transition: border-radius 0.3s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: unset;
  }
  
  .btn-left {
    border: solid 1px black;
    border-radius: 0px 20px 0px 20px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.3s;
    padding: unset;
  }
  
  .right {
    background-color: transparent;
    background: transparent;
    width: 33.3%;
    height: 30px;
  }
  
  .left {
    background-color: transparent;
    background: transparent;
    width: 33.3%;
    height: 30px;
  }
  
  .middle {
    background-color: transparent;
    background: transparent;
    width: 33.3%;
    z-index: 1;
    height: 30px;
  }
  
  .btn-txt {
    position: absolute;
  }
