.home-container {
    display: flex;
    flex-direction: column;
}

.home-header {
    color: white
}

.input-test-form {
    display: flex;
}

.label-header {
    font-weight: bold;
    margin-bottom: unset;
    margin-right: 5px;
}

.input-field {
    margin-right: 5px;
}

.result-test-txt {

}

.heart {
    animation: heartbeat 1s infinite;
    position: relative;
    top: 4px;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin: 0 auto
  }
  
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(245, 3, 3);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  
  .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
  }

@media only screen and (max-width: 768px) {
  .home-container button {
    background: linear-gradient(45deg, red, pink);
    color: white;
    border-radius: 8px;
  }
  .home-header {  
    text-align: center;
    background: linear-gradient(45deg, red, pink);
    -webkit-box-shadow: 0px 4px 7px 3px rgba(255,77,82,0.26); 
    box-shadow: 0px 4px 7px 3px rgba(255,77,82,0.26);
  }
  .input-test-form {
      flex-direction: column;
      padding: 5px;
  }
  .label-header {
    
  }
  .input-field {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .result-test-txt {
      text-align: center;
      font-weight: bold;
  }
  .error-line {
      color: red;
      font-weight: bold;
      text-align: center;
  }
  .loader {
      text-align: center;
  }
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

